@import "src/assets/variables";

#elements-list {
  .data-table__col {
    &--size {
      width: 150px;
    }
  }

  .element-title {
    display: flex;
    align-items: center;

    .feather {
      margin-right: 1rem;

      &--folder {
        stroke: $color-blue;
      }

      &--file-text {
        stroke: $color-gray-dark;
        flex: 0 0 24px;
      }
    }
  }

  .elements-list__path {
    display: flex;
    justify-content: space-between;
    background-color: $color-gray-light;
    padding: .5rem 1rem;
    border-radius: $border-radius;
  }
}