@mixin mobile {
  @media (max-width: 480px){
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px){
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024px){
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1200px){
    @content;
  }
}

@mixin grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}