@import "src/assets/variables";

.data-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: .5rem 0;

  &__space {
    flex: 1 0 auto;
  }

  &__group {
    display: flex;
    align-items: center;
    position: relative;

    & ~ & {
      margin-left: 1rem;
    }

    &--total {
      text-align: right;
    }
  }

  &__item {
    position: relative;

    &:last-child .btn {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &:first-child .btn {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:first-child:last-child .btn {
      border-radius: $border-radius;
    }

    & + & {
      margin-left: -$button-border-width;
    }

    &:hover {
      z-index: 100;
    }
  }

  &__filter {
    display: none;
    position: absolute;
    min-width: 100%;
    width: 450px;
    z-index: 1100;
    right: 0;
    top: 100%;
    margin-top: -2px;

    &--visible {
      display: block;
    }
  }
}

#search-form {
  position: relative;
}